
# =========================
# Virtual Environment
# =========================
env/
venv/
myenv/
.venv/



# =========================
# Environment variables
# =========================
.env
.env.*
*.env




